
POSTGRES_DB=feedbackdb
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
REPORT_DB_NAME=report_feedback

RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

MONOLITH_PORT=8080
REPORT_SERVICE_PORT=8081
